[submodule "Benja-solysis/TMS2"]
	path = Benja-solysis/TMS2
	url = git@github.com:Benja-solysis/TMS2.git
	branch = pruebas

[submodule "waw-odoo/testdb"]
	path = waw-odoo/testdb
	url = git@github.com:waw-odoo/testdb.git
	branch = waw-odoo-frtest

[submodule "confianz/Locksmith-Keyless"]
	path = confianz/Locksmith-Keyless
	url = git@github.com:confianz/Locksmith-Keyless.git
	branch = production

[submodule "confianz/ruvati"]
	path = confianz/ruvati
	url = git@github.com:confianz/ruvati.git
	branch = container_tracking
